@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(68.15deg, #2e1919 16.62%, #924141 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  margin: auto;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #fff2e7;
  font-weight: 400;
  font-size: 1.8rem;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #fff2e7;
  padding: 24px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 6.4rem;
  color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #ecc4c4;
}

.conteudo-principal-escrito-botao {
  background-color: #ecc4c4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #2f2323;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 196, 196, 0.53);
}

.conteudo-principal-imagem {
  height: 430px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #fff2e7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 2.4rem;
  color: #fff2ef;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #ecd6c4;
  text-align: center;
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid #fff2e7;
}

.rodape-imagem {
  height: 90px;
  display: block;
  margin: 0 auto;
}

/* Back to top */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #d34444a1; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgb(48, 8, 8); /* Add a dark-grey background on hover */
}

/* media queries */
@media (max-width: 774px) {
  html {
    font-size: 55%;
  }

  .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .conteudo-principal-imagem {
    order: -1;
    height: 45vh;
  }

  .conteudo-principal-escrito {
    align-items: center;
    padding-top: 12px;
    text-align: center;
  }
}

@media (max-width: 635px) {
  .cabecalho {
    justify-content: space-between;
  }

  .cabecalho-imagem {
    margin-left: 24px;
  }

  .cabecalho-menu {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 24px;
  }

  /*  fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #b65555;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on .cabecalho-menu {
    display: block;
    text-align: center;
  }

  .cabecalho-menu-item:hover {
    background-color: #924141;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 0;
    top: 42px;
    right: 26px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on .cabecalho-menu-item {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
    margin: 24px;
    padding: 6px;
    border-radius: 10px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 45%;
  }
  .conteudo-principal-imagem {
    width: 90vw;
  }
}
